
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Universal Styles */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container{
        max-width: 1400px;
        margin: auto;
    }

/* Shared Styles */
    .btn-primary{
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: 700 ;
        background-color: #FD6E0A;
        border-radius: 5px;
        border-style: none;
        padding: 10px;
        cursor: pointer;
    }
    .btn-primary:hover{
        background-color: darkgoldenrod;
    }


/* Header Styles */

    header{
        background:rgba(255, 248, 243, 1);
        background-image: url("../portfolio-resources/images/developer.png"),
        url("../portfolio-resources/images/header_bg.png") ;

        background-repeat: no-repeat;
        background-position: top left , bottom right;
        background-position-y : center , bottom;
        
    }



/* Navbar Styles */
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 200px ;
      
    }

    .nav-title{
        font-size: 45px;
        font-weight: 800;
        color: #181818;
    }

    .nav-title span{
        color: #FD6E0A;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-items: center;
        list-style: none;
        gap: 50px
    }

    nav  a{
        text-decoration: none;
        color: rgba(71, 71, 71, 1);
        font-size: 20px;
        font-weight: 500;
        
    }
    .nav-btn{
        width:150px;
        height: 64px;
    }

/* Header Details Styles */

    .banner-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        margin: 0 35px 0 200px;
        
        
    }
    .hero-greeting{
    color: rgba(71, 71, 71, 1);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
    }

    .hero-title{
        color: rgba(24, 24, 24, 1);
        font-size: 85px;
        font-weight: 700;
        margin-bottom: 10px;
        

    }

    .banner-des{
        color: #757575;
        width: 585px;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    .banner-btn{
        margin-top: 30px;
        display: flex;
        align-items: center;
        
        
    }

    .download-btn{
        width: 200px;
        height: 64px;
       
    }


    .contact-btn{
        color: #fd6e0a;
        width: 160px;
        height: 64px;
        background: rgba(255, 248, 243, 1);
        border: 1px solid rgba(253, 110, 10, 1);
        margin-left: 30px;
        
        
        

    }
    .contact-btn:hover{
        background-color: #fd6e0a;
        color: aliceblue;
    }

    .banner-img img{
        display:block;
        width: 585px;
       
    }

/* About Me Section Styles */

    .about-me-section-container{
        background-color: #fff8f3;
        border-radius: 10px;
        padding: 130px;
        margin-top: 130px;
        
    }

    .about-me-contents-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background-color:white ;
        box-shadow: 0px 0px 5px 0px #757575;
        width: 100%;
        padding: 50px;
        gap: 30px;
    }

    .about-me-tittle{
        color: #181818;
        font-size: 35px;
        font-weight: 700;
        text-align: center;
    }

    .about-me-description{
        color: #757575;
        font-size: 18px;
        text-align: center;
        line-height: 30px;
        width: 800px;
        margin-top: 30px;
        margin-bottom: 30px;
        
    }


    .about-me-info-container{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        gap: 50px;
    }

    .about-me-info-container p{
        font-size: 20px;
        font-weight: 400;
        color: #757575;
    }
    .about-me-info-container h5{
        font-size: 20px;
        font-weight: 700;
        color: #757575;
    }

/* Responsive for small devices */
    @media screen and (max-width:576px) {

        /* Navbar And Banner Section Responsive */
        nav{
            flex-direction: column;
            padding: 20px 30px;
        }

        nav ul{
            margin-top: 20px;
        }
    
        .nav-btn {
            width: 100px;
            height: 50px;
        
        }

        header{
        background-image:url("../portfolio-resources/images/header_bg.png") ;
        background-repeat: no-repeat;
        background-position: bottom right;
        
        }

        .banner-container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin:0px
        
        }
        .banner-contents{
            margin: 20px ;
            text-align: center;
        }
        .hero-greeting{
            font-size: 35px;
            
            
        }
        .hero-title{
            font-size: 45px;
            
        }

        .banner-des{
            width: 350px;
            
        }
        .banner-btn{
            flex-direction: column;
            justify-content: center;
            gap: 20px;
        }
        .download-btn,
        .contact-btn{
            width: 180px;
        }
        .contact-btn{
            margin-left: 0px;
        }

        .banner-img img{
            width: 100%;
            
        }

        /* About Me Section Responsiveness */
        .about-me-section-container{
            margin-top: 70px;
            padding: 40px;
        }

        .about-me-contents-container{
            border-radius: 5px;
            padding: 30px;
        }

        .about-me-tittle{
            font-size: 30px;
        }

        .about-me-description{
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 0px;
            line-height: 20px;
            width:250px;
        
        }

        .about-me-info-container{
            flex-direction: column;
            gap: 10px;
        }

        .about-me-info-container p ,.about-me-info-container h5{
            font-size: 18px;
        }
       
   
    }
 
/* Responsive For Medium Device */
    @media screen and (min-width:576px) and (max-width:992px){

        /* Navbar And Banner Section Responsive */
        nav{
        padding:30px ;
      
        }

        header{
        background-image:url("../portfolio-resources/images/header_bg.png") ;
        background-repeat: no-repeat;
        background-position: bottom right;
        
        }

        .banner-container{
            margin: 30px;
        }

        .hero-greeting{
            font-size: 40px;
        }
        .hero-title{
            font-size: 45px;
        }
        
        .banner-des{
            width: 350px;
        }

        .banner-btn{
            margin-top: 15px;
            
        }
        .download-btn,
        .contact-btn{
            width: 180px;
        }

        .banner-img img{
            width: 100%;
            
        }

        /* About Me Section Responsiveness */

        .about-me-section-container{
            margin-top: 80px;
            padding: 80px;
        }

        .about-me-contents-container{
            padding: 30px;
        }

        .about-me-description{
            width: 400px;
            margin-top: 20px;
            margin-bottom: 10px;

        }

        .about-me-info-container{
            justify-content: center;
            gap: 20px;

        }

        .about-me-info-container p{
            font-size: 16px;
            font-weight: 500;
            
        }
        .about-me-info-container h5{
            font-size: 16px;
            font-weight: 500;
            color: #181818;
            margin-top: 10px;
            
        }

    }